<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.waqar.stickynotes">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
            android:name="com.waqar.stickynotes.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/notes"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <receiver android:name="com.waqar.stickynotes.BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.waqar.stickynotes.NoteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/note_widget_info"/>
        </receiver>

        <activity android:name="com.waqar.stickynotes.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>